@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Josefin+Sans:ital,wght@1,300&family=Roboto:ital,wght@1,100;1,300;1,400&family=Zen+Antique&display=swap');
.card{
    width: 18rem;
    box-shadow: 1px 1px 1px #7ed1cf;
    border-radius: 12px 12px 0 0;
    border: 1px solid #7ed1cf;
    transition: box-shadow 300ms;
    margin: auto;
  }
.card:hover {
    box-shadow: 1px 1px 10px 2px #ebebeb;
  }
.card-img-top{
    border: 2px solid white;
    border-radius: 160px;
    padding: 10px;
   
}
.card-title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.audio1{
    width: 99%;
  
}
@media(max-width:1200px){
    .card{
        width: 16rem;
        margin: auto;
    }
    .audio1{
        width: 100%;
      
    }

}
